<section class="space-in-left-kilo-md">
  <!-- <p class="space-minus-left-kilo-md space-out-bottom-zero-md">
        <span class="logo">
            <span class="logo-icon">
                <img srcset="
                    https://furye.ru/avatar/furye_96x96.png 2x,
                    https://furye.ru/avatar/furye_192x192.png 4x
                    " src="https://furye.ru/avatar/furye_48x48.png" width="48" height="48" alt="Дмитрий Фурье">
            </span>
            <span class="logo-txt">
                <span class="logo-name">Дмитрий&nbsp;Фурье</span>
            </span>
        </span>
    </p>--> 
    <p>Финансовый директор в <a href="https://noboring-finance.ru">Нескучных финансах</a>. Помогаю управлять бизнесом на основе цифр. Курирую <a href="https://vk.com/neighborhood20">Добрососедство 2.0</a> проект, который помогает улучшить свой дом, двор и пдъезд. Пишу подкасты, и не теряю любопытства. Пишите в Телеграм: <a  href="https://t.me/DmitriyFourier">https://t.me/DmitriyFourier</a></p>
    <p class="space-out-bottom-micro-xs">
        <a class="contact-link link" href="https://twitter.com/dmitriyfourier" target="_blank" rel="noopener">Твиттер</a>
        <a class="contact-link link" href="https://www.instagram.com/dmitriyfourier" target="_blank" rel="noopener">Инстаграм</a>
        <a class="contact-link link" href="https://vk.com/dmitriyfourier" target="_blank" rel="noopener">Вконтакте</a>
        <a class="contact-link link" href="https://t.me/furyeru" target="_blank" rel="noopener">Телеграм</a>
    </p>
</section>
