<section class="space-in-left-kilo-md">
    <p class="space-minus-left-kilo-md space-out-bottom-zero-md">
        <span class="logo">
            <span class="logo-icon">
                <img srcset="
                    https://paulradzkov.com/avatar/paulradzkov_96x96.jpg 2x,
                    https://paulradzkov.com/avatar/paulradzkov_192x192.jpg 4x
                    " src="https://paulradzkov.com/avatar/paulradzkov_48x48.jpg" width="48" height="48" alt="Павел Радьков">
            </span>
            <span class="logo-txt">
                <span class="logo-name">Дмитрий&nbsp;Фурье</span>
            </span>
        </span>
    </p>
    <p>Дизайнер интерфейсов и верстальщик из Минска. Специализируюсь на проектировании сайтов и сервисов, рисую интерфейсы, верстаю прототипы, создаю npm-пакеты, которые помогают быстрее и аккуратнее делать проекты. Связаться: <a  href="mailto:dmitriyfurye@gmail.com">dmitriyfurye@gmail.com</a></p>
    <p class="space-out-bottom-micro-xs">
        <a class="contact-link link" href="https://github.com/dmitriyfourier" target="_blank" rel="noopener">ГитХаб</a>
        <a class="contact-link link" href="https://twitter.com/dmitriyfourier" target="_blank" rel="noopener">Твиттер</a>
        <a class="contact-link link" href="https://www.instagram.com/dmitriyfourier/" target="_blank" rel="noopener">Инстаграм</a>
    </p>
</section>
